.container {
  max-width: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mq($from: tablet){
    max-width: 1440px;
    padding-left: clamp(10px, calc(104 / 1440 * 100%), 102px);
    padding-right: clamp(10px, calc(104 / 1440 * 100%), 102px);
  }
  @include mq($from: 1440px) {
    margin: auto;
  }
}
