.btn {
  @extend %button;
  position: relative;
  overflow: hidden;
  @extend %subhead;
  text-transform: uppercase;
  padding: 1.2rem 2rem;
  white-space: nowrap;
  transition: color 600ms $ease-in-out-quint;
  color: $white;
  border-radius: 4px;

  &:after,
  &:before {
    @include abs-pseudo(0, 0, 0, 0);
    z-index: 0;
    pointer-events: none;
  }

  &:after {
    right: -1px;
    width: calc(100% + 1px);
    background: $gradient-green2;
    background-image: $gradient-green2;
    border: 1px solid $gradient-green2;
    transition: transform 300ms $ease-in-out-quint;
    transform: scaleY(0) translateZ(0);
    transform-origin: left;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    @media (hover: hover) {
      color: $white;

      &:after {
        transform: scaleY(1) translateZ(0);
        transform-origin: right;
      }
    }
  }

  &--secondary {
    color: $white;
    background-color: $green1 !important;
    background: $green1 !important;
    background-image: $green1 !important;

    &:after {
      right: -1px;
      width: calc(100% + 1px);
      background: $green2;
      background-image: $green2;
      border: 1px solid $green2;
      transition: transform 300ms $ease-in-out-quint;
      transform: scaleY(0) translateZ(0);
      transform-origin: left;
    }
  }

  &--tertiary {
    color: $green1;
    background-color: transparent !important;
    background: transparent !important;
    background-image: transparent !important;

    &:before {
      height: 100%;
      width: 100%;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: $gradient-green;
      z-index: 2;
      pointer-events: none;
    }

    &:after {
      right: -1px;
      width: calc(100% + 1px);
      background: $gradient-green;
      background-image: $gradient-green;
      border: 1px solid $gradient-green;
      transition: transform 300ms $ease-in-out-quint;
      transform: scaleY(0) translateZ(0);
      transform-origin: left;
    }
  }
}
